*{
    margin:0;
    padding:0;
}

body{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    display:inline-block;
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    color:rgb(66, 65, 65);
    padding:2rem;
}

.add{
    padding:1rem;
    height:50%;
    border-radius: 10px;
    background-image: linear-gradient(red, orange,yellow,green,blue);
}

.add:hover, .remove:hover{
    cursor: pointer;
}

.container .book-item{
    max-width: 10%;
    height: auto;
    background-color: antiquewhite;
    padding:1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;   
    gap:8px;
    border-radius: 10px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
 }

#author{
    font-size: large;
    margin-top: 0;
    }

#title{
    font-size: large;
    }

.container .book-item > span{
    margin-bottom: 1rem;
     
}

.read-btn:hover{
    cursor: pointer;
}
.container .book-item .fa-regular:hover{
    cursor:pointer;
}

#form{
    width:30%;
    position:fixed;
    top:25%;
    left:25%;
    z-index: 100;
    background-image: linear-gradient(red, orange,yellow,green,blue);
    padding:20px;
    border-radius: 10px;
}

.form-group{
    height:65px;
   }

label{
    position:relative;
    bottom:3px;
}

input{
    width:100%;
    height: 25px;
    padding:5px;
    border:1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}

input[id="pages-form"], input[id="read-form"]{
    width:25%;
}

.hidden{
display:none;
}

#form button{
    padding:10px;
    background-color: antiquewhite;
    border:none;
    border-radius: 5px;

}